# ===== DeepSeek =====
DEEPSEEK_API_KEY=xx
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_MODEL=deepseek-chat

# ===== LangSmith =====
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=xx
LANGSMITH_PROJECT=pang-agent-home
# 非 US 区域才需要改，默认可留空
# LANGSMITH_ENDPOINT=https://api.smith.langchain.com
